[submodule "d-mysql"]
	path = s-mysql
	url = git@github.com:charlesreid1-docker/d-mysql.git
[submodule "d-mediawiki"]
	path = s-mediawiki
	url = git@github.com:charlesreid1-docker/d-mediawiki.git
[submodule "d-nginx-charlesreid1"]
	path = s-nginx-charlesreid1
	url = git@github.com:charlesreid1-docker/d-nginx-charlesreid1.git
[submodule "mkdocs-material"]
	path = mkdocs-material
	url = git@github.com:charlesreid1-docker/mkdocs-material.git
[submodule "d-gitea"]
	path = s-gitea
	url = git@github.com:charlesreid1-docker/d-gitea.git
