site
root.password
docker-compose.yml
*.zip

# old
scripts/git_clone_data.sh
scripts/git_clone_www.sh
scripts/git_pull_data.sh
scripts/git_pull_www.sh

# new
scripts/git_clone_data.py
scripts/git_clone_www.py
scripts/git_pull_data.py
scripts/git_pull_www.py
