version: "3.3"
services:

# Note: depends_on is from here
# https://stackoverflow.com/a/39039830

  stormy_gitea:
    image: gitea/gitea:latest
    container_name: stormy_gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    volumes:
      - "stormy_gitea_data:/data"
      - "./d-gitea/custom:/data/gitea"
      - "./d-gitea/data:/app/gitea/data"
      - "/gitea_repositories:/data/git/repositories"
    logging:
      driver: "json-file"
      options:
        max-size: 1m
        max-file: "10"
    ports:
      - "22:22"

  stormy_mysql:
    build: d-mysql
    container_name: stormy_mysql
    volumes:
      - "stormy_mysql_data:/var/lib/mysql"
    logging:
      driver: "json-file"
      options:
        max-size: 1m
        max-file: "10"
    environment:
      - MYSQL_ROOT_PASSWORD={{ pod_charlesreid1_mysql_password }}

  stormy_mw:
    build: d-mediawiki
    container_name: stormy_mw
    volumes:
      - "stormy_mw_data:/var/www/html"
    logging:
      driver: "json-file"
      options:
        max-size: 1m
        max-file: "10"
    environment:
      - MEDIAWIKI_SITE_SERVER=https://{{ pod_charlesreid1_server_name }}
      - MEDIAWIKI_SECRETKEY={{ pod_charlesreid1_mediawiki_secretkey }}
      - MYSQL_HOST=stormy_mysql
      - MYSQL_DATABASE=wikidb
      - MYSQL_USER=root
      - MYSQL_PASSWORD={{ pod_charlesreid1_mysql_password }}
    depends_on:
      - stormy_mysql

  stormy_nginx:
    restart: always
    image: nginx
    container_name: stormy_nginx
    hostname: {{ pod_charlesreid1_server_name }}
    hostname: charlesreid1.com
    command: /bin/bash -c "nginx -g 'daemon off;'"
    volumes:
      - "./d-nginx-charlesreid1/conf.d:/etc/nginx/conf.d:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/letsencrypt:/etc/letsencrypt"
      - "/www/{{ pod_charlesreid1_server_name }}/htdocs:/www/{{ pod_charlesreid1_server_name }}/htdocs:ro"
    logging:
      driver: "json-file"
      options:
        max-size: 1m
        max-file: "10"
    depends_on:
      - stormy_mysql
      - stormy_mw
      - stormy_gitea
    ports:
      - "80:80"
      - "443:443"

volumes:
  stormy_mysql_data:
  stormy_mw_data:
  stormy_gitea_data:
