[Unit]
Description=Renew certificates for pod-charelsreid1
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError={{ pod_install_dir }}/.pod-charlesreid1-certbot.service.error.log
StandardOutput={{ pod_install_dir }}/.pod-charlesreid1-certbot.service.output.log
ExecStart=bash -ac './{{ pod_install_dir }}/environment; {{ pod_install_dir }}/scripts/backups/renew_charlesreid1_certs.sh'
User=charles
Group=charles
