[Unit]
Description=Renew certificates for pod-charlesreid1
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError=file:{{ pod_install_dir }}/.pod-charlesreid1-certbot.service.error.log
StandardOutput=file:{{ pod_install_dir }}/.pod-charlesreid1-certbot.service.output.log
ExecStart=/bin/bash -ac '. {{ pod_install_dir }}/environment; {{ pod_install_dir }}/scripts/certbot/renew_charlesreid1_certs.sh'
