[Unit]
Description=Timer to copy the lastest pod-charlesreid1 backup to an S3 bucket

[Timer]
# Run on the first Sunday of every month
OnCalendar=Sun *-*-1..7 0/4:03:00

[Install]
WantedBy=timers.target
