####################
#
# {{ pod_charlesreid1_server_name }}
# https/443
# 
# {{ pod_charlesreid1_server_name }} and www.{{ pod_charlesreid1_server_name }}
# should handle the following cases:
# - w/ and wiki/ should reverse proxy story_mw
# - gitea subdomain should reverse proxy stormy_gitea
#
####################


# default 
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ pod_charlesreid1_server_name }} default_server;

    ssl_certificate /etc/letsencrypt/live/{{ pod_charlesreid1_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ pod_charlesreid1_server_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    include /etc/nginx/conf.d/secheaders.conf;
    include /etc/nginx/conf.d/csp.conf;

    location / {
        try_files $uri $uri/ =404;
        root /www/{{ pod_charlesreid1_server_name }}/htdocs;
        index index.html;
    }

    location = /robots.txt {
        alias /var/www/robots/robots.txt;
    }

    location /wiki/ {
        # Apply rate limit here.
        limit_req zone=gitealimit burst=20 nodelay;
        # Limit download rate to 500 KB/s per connection (4 Mbps)
        limit_rate 500k;

        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_mw:8989/wiki/;
    }

    location /w/ {
        # Apply rate limit here.
        limit_req zone=gitealimit burst=20 nodelay;
        # Limit download rate to 500 KB/s per connection (4 Mbps)
        limit_rate 500k;

        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_mw:8989/w/;
    }

    # ~ means case-sensitive regex match, rather than string literal
    # (ignores .git, .gitignore, etc.)
    location ~ /\.git {
        deny all;
    }
}


# www
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name www.{{ pod_charlesreid1_server_name }};

    ssl_certificate /etc/letsencrypt/live/www.{{ pod_charlesreid1_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/www.{{ pod_charlesreid1_server_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    include /etc/nginx/conf.d/secheaders.conf;
    include /etc/nginx/conf.d/csp.conf;

    root /www/{{ pod_charlesreid1_server_name }}/htdocs;

    location / {
        try_files $uri $uri/ =404;
        index index.html;
    }

    location = /robots.txt {
        alias /var/www/robots/robots.txt;
    }

    location /wiki/ {
        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_mw:8989/wiki/;
    }

    location /w/ {
        # Apply rate limit here.
        limit_req zone=gitealimit burst=20 nodelay;

        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_mw:8989/w/;
    }

    location ~ /\.git {
        deny all;
    }
}


# gitea 
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name git.{{ pod_charlesreid1_server_name }};

    ssl_certificate /etc/letsencrypt/live/git.{{ pod_charlesreid1_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/git.{{ pod_charlesreid1_server_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    include /etc/nginx/conf.d/secheaders.conf;
    include /etc/nginx/conf.d/giteacsp.conf;

    location / {
        # Apply the rate limit here.
        # Allows a burst of 20 requests, but anything beyond the max is queued.
        limit_req zone=gitealimit burst=20 nodelay;
        # Limit download rate to 500 KB/s per connection (4 Mbps)
        limit_rate 500k;

        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_gitea:3000/;
    }

    location = /robots.txt {
        alias /var/www/robots/gitea.txt;
    }
}
