####################
# 
# {{ server_name_default }}
# http/{{ port_default }}
# 
# basically, just redirects to https
#
####################

server {
    listen 80;
    listen [::]:80;
    server_name {{ server_name_default }};
    return 301 https://{{ server_name_default }}$request_uri;
}

server {
    listen 80;
    listen [::]:80;
    server_name www.{{ server_name_default }};
    return 301 https://www.{{ server_name_default }}$request_uri;
}

server {
    listen 80;
    listen [::]:80;
    server_name git.{{ server_name_default }};
    return 301 https://git.{{ server_name_default }}$request_uri;
}
