####################
#
# {{ pod_charlesreid1_server_name }}
# https/443
# 
# {{ pod_charlesreid1_server_name }} and www.{{ pod_charlesreid1_server_name }}
# should handle the following cases:
# - w/ and wiki/ should reverse proxy story_mw
# - gitea subdomain should reverse proxy stormy_gitea
#
####################


# default 
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ pod_charlesreid1_server_name }} default_server;

    ssl_certificate /etc/letsencrypt/live/{{ pod_charlesreid1_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ pod_charlesreid1_server_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    include /etc/nginx/conf.d/secheaders.conf;
    include /etc/nginx/conf.d/csp.conf;

    location / {
        try_files $uri $uri/ =404;
        root /www/{{ pod_charlesreid1_server_name }}/htdocs;
        index index.html;
    }

    location = /robots.txt {
        alias /var/www/robots/robots.txt;
    }

    location /wiki/ {
        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_mw:8989/wiki/;
    }

    location /w/ {
        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_mw:8989/w/;
    }

    # ~ means case-sensitive regex match, rather than string literal
    # (ignores .git, .gitignore, etc.)
    location ~ /\.git {
        deny all;
    }
}


# www
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name www.{{ pod_charlesreid1_server_name }};

    ssl_certificate /etc/letsencrypt/live/www.{{ pod_charlesreid1_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/www.{{ pod_charlesreid1_server_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    include /etc/nginx/conf.d/secheaders.conf;
    include /etc/nginx/conf.d/csp.conf;

    root /www/{{ pod_charlesreid1_server_name }}/htdocs;

    location / {
        try_files $uri $uri/ =404;
        index index.html;
    }

    location = /robots.txt {
        alias /var/www/robots/robots.txt;
    }

    location /wiki/ {
        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_mw:8989/wiki/;
    }

    location /w/ {
        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_mw:8989/w/;
    }

    location ~ /\.git {
        deny all;
    }
}


# gitea 
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name git.{{ pod_charlesreid1_server_name }};

    ssl_certificate /etc/letsencrypt/live/git.{{ pod_charlesreid1_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/git.{{ pod_charlesreid1_server_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    include /etc/nginx/conf.d/secheaders.conf;
    include /etc/nginx/conf.d/giteacsp.conf;

    location / {
        # Ban jerks
        deny 52.39.237.48;
        deny 52.70.240.171;
        deny 54.36.148.135;
        deny 34.215.160.160;
        deny 217.113.194.226;
        deny 189.84.38.222;

        deny 47.76.0.0/16;
        deny 47.79.0.0/16;
        # Fuck you in particular
        deny 47.76.209.138;
        deny 47.76.99.127;
        deny 47.76.220.119;
        deny 47.79.118.97;
        deny 84.33.26.105;

        deny 8.210.0.0/16;
        deny 8.218.0.0/16;
        # Fuck you in particular
        deny 8.210.187.5;
        deny 8.210.164.94;
        deny 168.90.209.163;
        deny 168.90.209.127;

        deny 89.116.78.169;
        allow all;

        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://stormy_gitea:3000/;
    }

    location = /robots.txt {
        alias /var/www/robots/gitea.txt;
    }
}
