####################
# 
# {{ pod_charlesreid1_server_name }}
# http/{{ port_default }}
# 
# basically, just redirects to https
#
####################

server {
    listen 80;
    listen [::]:80;
    server_name {{ pod_charlesreid1_server_name }};
    return 301 https://{{ pod_charlesreid1_server_name }}$request_uri;
}

server {
    listen 80;
    listen [::]:80;
    server_name www.{{ pod_charlesreid1_server_name }};
    return 301 https://www.{{ pod_charlesreid1_server_name }}$request_uri;
}

server {
    listen 80;
    listen [::]:80;
    server_name git.{{ pod_charlesreid1_server_name }};
    return 301 https://git.{{ pod_charlesreid1_server_name }}$request_uri;
}
