[Unit]
Description=Back up the pod-charlesreid1 wiki database
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError={{ pod_install_dir }}/.pod-charlesreid1-backups-wikifiles.service.error.log
StandardOutput={{ pod_install_dir }}/.pod-charlesreid1-backups-wikifiles.service.output.log
ExecStart={{ pod_install_dir }}/scripts/backups/wikifiles_dump.sh
User=charles
Group=charles
