[Unit]
Description=Back up pod-charlesreid1 gitea files
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError=/var/log/pod-charlesreid1-backups/gitea.error.log
StandardOutput=/var/log/pod-charlesreid1-backups/gitea.output.log
ExecStart={{ pod_install_dir }}/scripts/backups/gitea_dump.sh
User=charles
Group=charles
