[Unit]
Description=Back up pod-charlesreid1 gitea files
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
StandardError=append:/var/log/pod-charlesreid1-backups-gitea.service.log
StandardOutput=append:/var/log/pod-charlesreid1-backups-gitea.service.log
ExecStartPre=/usr/bin/test -f {{ pod_charlesreid1_pod_install_dir }}/environment
ExecStart=/bin/bash -ac '. {{ pod_charlesreid1_pod_install_dir }}/environment; {{ pod_charlesreid1_pod_install_dir }}/scripts/backups/gitea_backup.sh'
User=charles
Group=charles

