[Unit]
Description=do the gitea backup task with a forever loop

[Service]
Restart=always
ExecStart=/usr/bin/python {{ pod_install_dir }}/scripts/backup_gitea.py
ExecStop=/usr/bin/pgrep -f backup_gitea | /usr/bin/xargs /bin/kill

[Install]
WantedBy=default.target

