[Unit]
Description=do the mediawiki files backup task with a forever loop

[Service]
Restart=always
ExecStart=/usr/bin/python {{ pod_install_dir }}/scripts/backup_wikifiles.py
ExecStop=/usr/bin/pgrep -f backup_wikifiles | /usr/bin/xargs /bin/kill

[Install]
WantedBy=default.target

