#!/usr/bin/env python3
import subprocess
import os
import time
from datetime import datetime
from executioner import execute

"""
Forever Loop of Forever Task


Run a forever loop to do a task.
"""

def task(pod_dir):

    work_dir = os.path.join(pod_dir,'scripts')

    def run_cmd(f,cmd):
        """This runs a command cmd and writes the output of the command to the given file f"""
        f.write("About to run the following command for (forever task):\n")
        f.write("    $ " + " ".join(cmd))
        f.write("\n")
        f.write("Command Output:")
        for loo in execute(cmd):
            f.write(loo)
        f.write("\n")
        f.write("Done.")

    d = datetime.now().strftime('%Y-m-%d')

    with open('/tmp/forever_task_pull_host_%s.log'%(d),'w') as f:
    
        # Step 1:
        # Update Captain Hook
        co_cmd = ['git','checkout','master']
        run_cmd(f,co_cmd)

        time.sleep(10)

        f_cmd = ['git','fetch','--all']
        run_cmd(f,f_cmd)

        time.sleep(10)

        pull_cmd = ['git','pull','origin','master']
        run_cmd(f,pull_cmd)

        time.sleep(10)
    
        submod_cmd = ['git','submodule','update','--remote']
        run_cmd(f,submod_cmd)

        time.sleep(10)


        # Step 2:
        # Restart Captain Hook pod
        #pod_restart = ['systemctl','restart','pod-webhooks']
        #pod_restart = ['docker-compose','restart']
        run_cmd(f,pod_restart)

        time.sleep(10)


if __name__=="__main__":

    # Run a forever loop
    while True:
        task('{{ pod_install_dir }}')
        time.sleep(10)


