#!/usr/bin/env python3
import subprocess
import os
from executioner import execute

"""
/www Pull Script 

This script updates the data sub-directory
of the /www htdocs directory, which is used
to host the gitea git commit calendar.
"""

SERVER_NAME_DEFAULT = '{{ server_name_default }}'
USERNAME = '{{ username }}'



# Set directory locations
root = '/www'
basedir = os.path.join(root,SERVER_NAME_DEFAULT)
htdocsdir = os.path.join(basedir,'htdocs')
datadir   = os.path.join(basedir,'htdocs','data')
dotgitdir = os.path.join(basedir,'git.data')

# Start by making sure the base directory exists
subprocess.call(['mkdir','-p',basedir])

# Run the pull command, but only if 
# the htdocs/data dir already exists
# /www/<domain>/htdocs/data
if os.path.exists(datadir):

    pullcmd = ['git',
               '-C',basedir,
               '--git-dir=%s'%(dotgitdir),
               '--work-tree=%s'%(datadir),
               'pull','origin','master']

    print("About to pull /www data content for %s using command:\n"%(SERVER_NAME_DEFAULT))
    print("    $ " + " ".join(pullcmd))
    print("\n")

    print("Command Output:")
    for loo in execute(pullcmd):
        print(loo, end='')
    print("\n")

    print("Done.")



# Step 2: chown everybody
# Construct chown command
chowncmd = ['chown','-R',
            USERNAME+":"+USERNAME,
            basedir]

print("About to chown /www directory using command:\n")
print("    $ " + " ".join(chowncmd))
print("\n")

print("Command Output:")
for loo in execute(chowncmd):
    print(loo, end='')
print("\n")

print("Done.")

